In [1]:
# loading dataset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
uefa_raw_df = pd.read_csv('UEFA Champions League 2004-2021.csv')

In [3]:
uefa_raw_df.head()

,Unnamed: 0,homeTeam,homeScore,awayteam,awayscore,round,group,date
0,0,Club Brugge,1,Juventus,2,round : 1,A,2005-09-14
1,1,SK Rapid Wien,0,Bayern München,1,round : 1,A,2005-09-14
2,2,Arsenal,2,FC Thun,1,round : 1,B,2005-09-14
3,3,Sparta Praha,1,Ajax,1,round : 1,B,2005-09-14
4,4,Udinese,3,Panathinaikos,0,round : 1,C,2005-09-14